.page {
  display: flex;
  color:white;
  background-color: #1A1D24;
  height: 100%;
  padding: 15px 30px 30px 30px;
  font-family: 'Monaco', sans-serif;
  line-height: 1.4rem;
  letter-spacing: 0.1rem;
}

.code {

}

.banner {
  display: block;
  white-space: nowrap;
  color: rgb(184, 173, 213);
  font-size: 0.8vw;
  line-height: 0.8vw;
  letter-spacing: -0.05rem;
  font-family: 'Courier New', Courier, monospace;
}

.line_numbers {
  font-family: 'Monaco', sans-serif;
  color: #636c97c0;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  align-items: right;
  padding-right: 30px;
}

.code_section {
  border-left: 1.5px solid #636c97c0;
  padding-left: 2rem;
}

